<app-navbar></app-navbar>

<div class="container">
    <app-gitsearch-form (emitSearch)="searchThis($event)"></app-gitsearch-form>
    <div *ngIf="users">
        <div class="card-columns">
            <div *ngFor="let user of users">


                <div class="card image-card">
                    <img src="{{user.avatar_url}}" class="card-img">

                </div>
            </div>

        </div>
        <div *ngFor="let user of users">
            <p class="userlogin">{{user.login}}</p>
            <button class="btn btn-dark">{{user.followers}} followers</button><br>
            <button class="btn btn-dark">{{user.following}} following</button>
        </div>
        <div class="cards">
            <div class="cards_styling">
                <div class="card" *ngFor="let repo of reposy" style="width: 21rem;">
                    <div class="card-header">
                        {{repo.name}}
                    </div>
                    <div class="card-body">
                        
                    </div>
                    <div class="card-footer">
                            <a href="{{repo.html_url}}"><button class="btn btn-dark" title="View repository"><i class="fas fa-eye"></i></button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>