.cards_styling{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.card{
    margin:1%;
    background-color:whitesmoke;
}
.image-card{
    text-align: center;
    margin-left:90%; 
}
button{
    color:white;;
    margin-left:40%;

}
.container{
    background-color: rgba(0,0,0,0.7);
    border:1px hidden;
    border-radius:5px;
}
.userlogin{
    color:white;
    margin-left:40%;
}
hr{
    background-color: whitesmoke;
}
h4{
    color:whitesmoke
}
.span{
    font-size:14px;

}
/* footer{
    display: flex;
} */
.footerIcons i{
    font-size:40px;
    text-align:center;
}
footer p{
    text-align: center;
    margin-top:1%;
}
.footerIcons{
    margin-left:45%;
}
footer{
    background-color:rgba(0,0,0,0.8);
    text-align: center;
    color:whitesmoke;
    font-size:12px;
}