.cards_styling{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.card{
    margin:1%;
    background-color:grey;
    border:1px hidden;
    box-sizing:border-box;
    
}
.image-card{
    text-align: center;
    margin-left:90%; 
}
button{
    color:white;;
    margin-left:40%;

}
.overlay{
    background-color: rgba(0,0,0,0.7);
    border:1px hidden;
    border-radius:5px;
    margin-left: 2%;
    margin-right:2%;
}
.userlogin{
    color:white;
    margin-left:40%;
    font-family: 'Nunito', sans-serif;
    font-size:20px;
}
hr{
    background-color: whitesmoke;
}
h4{
    color:whitesmoke;
    font-family: 'Nunito', sans-serif;
    
}
.span{
    font-size:14px;

}
/* footer{
    display: flex;
} */
.footerIcons i{
    font-size:40px;
    text-align:center;
}
footer p{
    text-align: center;
    margin-top:1%;
    font-family: 'Nunito', sans-serif;
}
.footerIcons{
    margin-left:45%;
}
footer{
    background-color:rgba(0,0,0,0.8);
    text-align: center;
    color:whitesmoke;
    font-size:12px;
    font-family: 'Nunito', sans-serif;
}
.card-body{
    background-color: whitesmoke;
}
.card-header{
    color:whitesmoke;
}
.card-footer{
    background-color: whitesmoke;
}
.lead{
    color:whitesmoke;
}
@media screen and (max-width:580px){
    .image-card{
        width: 200px;
        margin-left:20%;
    }
    } 