<app-navbar></app-navbar>
<app-gitsearch-form (emitSearch)="searchThis($event)"></app-gitsearch-form>
<div class="container">
    <div *ngIf="users">
        <div class="card-columns">
            <div *ngFor="let user of users">


                <div class="card image-card">
                    <img src="{{user.avatar_url}}" class="card-img">

                </div>
            </div>

        </div>
        <div *ngFor="let user of users">
            <p>{{user.login}}</p>
            <button class="btn btn-success">{{user.followers}} followers</button><br>
            <button class="btn btn-success">{{user.following}} following</button>
        </div>
        <div class="cards">
            <div class="cards_styling">
                <div class="card" *ngFor="let repo of reposy" style="width: 21rem;">
                    <div class="card-header">
                        {{repo.name}}
                    </div>
                    <div class="card-body">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>